.movie-card {
	position: relative;
	width: 200px;
	min-height: 300px;
	margin: 0.5rem;
	border-radius: 0.8rem;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.2s ease;

	&__poster {
		width: 100%;
		& > img {
			display: block;
			max-width: 100%;
		}
	}

	&__rating {
		position: absolute;
		top: 10px;
		right: 10px;
		color: var(--white-color);
		font-style: bold;
		background-color: #3bb33b;
		padding: 5px 10px;
		border-radius: 6px;
		opacity: 1;
		transition: opacity 0.4s;
	}

	&__title {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.9);
		color: #fff;
		text-align: center;
		opacity: 1;
		transition: opacity 0.4s;
	}
	&__release {
		position: absolute;
		top: 10px;
		left: 10px;
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.9);
		color: #fff;
		border-radius: 6px;
		opacity: 1;
		transition: opacity 0.4s;
	}

	&:hover {
		transform: scale(1.05);
	}
	&:hover &__title,
	&:hover &__rating,
	&:hover &__release {
		opacity: 0;
	}
}

.vote__yellow {
	background-color: #f3b04bea;
}
.vote__gray {
	background-color: #757171;
}
.vote__red {
	background-color: #ee3636;
}

@media screen and (max-width: 440px) {
	.movie-card {
		width: 300px;
	}
}
