@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$xs-media: 575.98px;
$sm-media: 767.98px;
$md-media: 991.98px;
$lg-media: 1199.98px;

:root {
	--primary-color: #0d253f;
	--secondary-color: #01b4e4;
	--tertiary-color: #90cea1;

	--dark-color: #333333;
	--white-color: #ffffff;

	--header-height: 40px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// temp classes
.app {
	position: relative;
}
.movie-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 60px;
}
